---
---

@import "{{ site.theme }}";

.list-group-item:after {
    content: "/";
    color: green;
}

iframe {
    width:100%;
}

.site-nav {
    max-width: 85%;
    right: 0px;
    position: absolute;
    text-align: right;
}

.site-header {
    border-top: none;
    border-bottom: none;
}
